[submodule "libraries/libbpf/src"]
	path = libraries/libbpf/src
	url = https://github.com/libbpf/libbpf
[submodule "libraries/Catch2/src"]
	path = libraries/Catch2/src
	url = https://github.com/catchorg/Catch2.git
[submodule "libraries/btfparse/src"]
	path = libraries/btfparse/src
	url = https://github.com/trailofbits/btfparse
